<% include partials/header %>

    <style scoped>
        h1,
        p {
            text-align: center;
        }

        table {
            margin: 10px auto;
        }
    </style>

    <h1>
        <%= title %>
    </h1>

   

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Title</th>
                <th>Age</th>
                
            </tr>
        </thead>
        <tbody>

            <% for (let i = 0; i < practiceTable.length; i++) { %>

                <tr>
                    <td>
                        <%= practiceTable[i].title %>
                    </td>
                    <td>
                        <%= practiceTable[i].Age %>
                    </td>
                   
                    
                </tr>

                <% } %>
        </tbody>
    </table>

   
      
            <% include partials/footer %>